* { box-sizing:border-box; }

body {
  margin:0;
  background:#0b0b12;
  color:#fff;
  font-family:Segoe UI, Arial;
}

header {
  text-align:center;
  padding:20px;
  background:linear-gradient(90deg,#ff0033,#7a00ff);
}

nav {
  display:flex;
  justify-content:center;
  gap:10px;
  padding:10px;
  background:#111;
}

button {
  background:#1c1c28;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  cursor:pointer;
}
button:hover { background:#2c2c3a; }

.filters{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.filters button{
  flex:1;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#2b2b44;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  transition:.2s;
}

.filters button:hover{
  background:#3b3b5e;
}

.filters button.active{
  background:#6a5cff;
}


section {
  max-width:900px;
  margin:auto;
  padding:10px;
}

.level, .player {
  display:flex;
  align-items:center;
  background:#151522;
  margin:8px 0;
  padding:10px;
  border-radius:12px;
  cursor:pointer;
}

.level:hover, .player:hover {
  background:#202035;
}

.avatar {
  width:80px;
  height:80px;
  background:#333;
  border-radius:12px;
  margin-right:15px;
  object-fit:cover;
}

.hidden { display:none; }

/* Модалка */
.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:1000;
  cursor:pointer; /* додати */
}

.modal-content {
  background:#1e1e30;
  padding:25px;
  border-radius:15px;
  max-width:500px;
  width:90%;
  color:#fff;
  box-shadow:0 0 20px rgba(255,255,255,.2);
  cursor:default; /* щоб не закривалося при кліку на контент */
}


.modal-content h3 {
  margin-top:0;
  font-size:1.8em;
  text-align:center;
  color:#ff6a00;
}

.modal-content .avatar-large {
  display:block;
  margin:auto;
  width:120px;
  height:120px;
  border-radius:15px;
  object-fit:cover;
  margin-bottom:15px;
  border:3px solid #ff6a00;
}

.modal-content .info-block {
  margin:10px 0;
  padding:10px;
  background:#2a2a40;
  border-radius:12px;
}

.modal-content .info-block b {
  display:inline-block;
  width:120px;
  color:#ffa500;
}

.modal-content .info-block span {
  color:#a0a0ff;
}

.modal-content .tag-list {
  display:flex;
  flex-wrap:wrap;
  gap:6px;
  margin-top:5px;
}

.modal-content .tag {
  background:#333366;
  padding:5px 10px;
  border-radius:8px;
  font-size:0.9em;
  color:#fff;
}
