body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 { text-align: center; color: #ff4040; }
.subtitle { text-align: center; color: #aaa; }
.version { text-align: center; color: #888; margin-bottom:10px; }

.buttons { text-align: center; margin: 20px; }
button {
  background: #1c1c1c;
  color: white;
  border: 1px solid #444;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}
button:hover { background: #333; }

.level {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 1fr 1fr;
  padding: 12px;
  margin: 8px 0;
  background: #151515;
  align-items: center;
}

.real { border-left: 5px solid red; }
.fake { border-left: 5px solid purple; }

.rank { color: #ff6060; }
.difficulty { color: gold; }
.verifier { color: #66ff66; font-style: italic; }

#history { background:#1c1c1c; padding:10px; margin:10px 0; border-left:4px solid #ff4040; }
